<h1>Login</h1>
<p style="text-align: center">Please Login</p>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
  <% type = request.fullpath.split('/').reject { |e| e.empty? }.first%>
  <% url_form = type == 'driver' ? driver_login_path : customer_login_path %>

    <%= form_for(:session, url: url_form) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

    <p style="text-align: center">New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>
