
<% provide(:button_text, 'Place Order') %>
<h1>Confirm Order</h1>
<p style="text-align: center
">Please ensure input the details below..</p>


<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
  <%= form_for(@order, url:place_order_path) do |f| %>
    <%= render 'error_messages' %>

    <%= f.label :pickup %>
    <%= f.text_field :pickup, readonly: true, class: 'form-control' %>

    <%= f.label :destination %>
    <%= f.text_field :destination, readonly: true, class: 'form-control' %>

    <table class="table">
      <tr>
        <td>Distance</td>
        <td><%= @order.distance_matrix  %> Km</td>
      </tr>

      <tr>
        <td>Total Cost</td>
        <td><%= number_to_currency(@order.distance_matrix * @order.cost_per_km, unit: "Rp ", delimiter: ".", separator: ",") %></td>
      </tr>

      <tr>
        <td>Please Choose Your Payment</td>
        <td>
          <%= f.label :payment, "Cash" %>
          <%= f.radio_button :payment, 'gopay' %>
          <%= f.label :payment, "Go Pay" %>
          <%= f.radio_button :payment, 'gopay', :checked => true %>
        </td>
      <tr>

    </table>

    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  <% end %>
  </div>
</div>
