
<% provide(:button_text, 'I Have Finish This Job') %>
<h1>Current Job</h1>
<p style="text-align: center
">Please ensure input the details below..</p>


<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
  <%= form_for(@order, method: :patch) do |f| %>
    <%= render 'error_messages' %>


    <%= f.hidden_field :status, value: "complete" %>


    <table class="table">
      <tr>
        <td>Pickup Location </td>
        <td><%= @order.pickup.upcase  %></td>
      </tr>

      <tr>
        <td>Destination </td>
        <td><%= @order.destination.upcase  %></td>
      </tr>

      <tr>
        <td>Service </td>
        <td><%= @order.service.upcase  %></td>
      </tr>

      <tr>
        <td>Distance</td>
        <td><%= @order.distance  %> Km</td>
      </tr>

      <tr>
        <td>Payment</td>
        <td><%= @order.payment.upcase %></td>
      </tr>

      <tr>
        <td>Total Cost</td>
        <td><%= number_to_currency(@order.distance_matrix * @order.cost_per_km, unit: "Rp ", delimiter: ".", separator: ",") %></td>
      </tr>


    </table>

    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  <% end %>
  </div>
</div>
