
<% provide(:button_text, 'Place Order') %>
<h1>Order A Gojek</h1>
<p style="text-align: center
">Please input the details below..</p>


<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
  <%= form_for(@order, url:check_order_path) do |f| %>
    <%= render 'error_messages' %>

    <%= f.label :pickup %>
    <%= f.text_field :pickup, class: 'form-control' %>

    <%= f.label :destination %>
    <%= f.text_field :destination, class: 'form-control' %>

    <%= f.hidden_field :payment, value:'cash' %>

    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  <% end %>
  </div>
</div>
