  <tr>
    <td><%= driver.id %></td>
    <td><%= driver.name %></td>
    <td><%= driver.email %></td>
    <td><%= driver.phone %></td>
    <td><%= driver.gopay %></td>
    <td><%= driver.service %></td>
    <td><%= driver.location %></td>
    <td><%= driver.area_id %></td>
    <td></td>
  </tr>
