<table class="table">
  <tr>
    <td>Id</td>
    <td>Pickup</td>
    <td>Destination</td>
    <td>Payment</td>
    <td>Distance</td>
    <td>Total</td>
    <td>Customer</td>
    <td>Status</td>
    <td>Action</td>
  </tr>

  <% @orders.each do|o| %>
  <tr class="<%= cycle('list_line_odd','list_line_even')%>">
    <td><%= o.id %></td>
    <td><%= o.pickup %></td>
    <td><%= o.destination %></td>
    <td><%= o.payment %></td>
    <td><%= o.distance %></td>
    <td><%= number_to_currency(o.total, unit: "Rp ", delimiter: ".", separator: ",")  %></td>
    <td><%= o.customer.name %></td>
    <td><%= o.status %></td>
    <td>  <%= link_to 'Show', o %>
    </td>
  </tr>
  <% end %>
</table>
