
<% provide(:button_text, 'SET LOCATION') %>
<h1>SET YOUR LOCATION</h1>
<p style="text-align: center
">Please input an address / location</p>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
  <%= form_for(@driver, url:commit_location_path) do |f| %>
  <%= render 'error_messages' %>

  <%= f.label :location %>
  <%= f.text_field :location, value: nil, class: 'form-control' %>

  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>
  </div>
</div>
